.DS_Store
# 1. Ignore everything by default
*

# 2. Allow Git to search inside subdirectories
!*/

# 3. Track only desired source file types
!*.c
!*.h
!*.l
!*.y
!*.expl
!*.txt

# 4. Re-ignore Lex/Yacc generated C & header files
lex.yy.c
lex.yy.trans.c
y.tab.c
y.tab.h